.gamecontainerdiv {
  height: 800px;
  width: 800px;
}

#footer {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

body {
  background-image: url('/src/game/assets/sprites/Background.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
